apiVersion: v1
kind: Service
metadata:
  name: simple-app-service
  namespace: demo
spec:
  type: LoadBalancer
  selector:
    app: simple-app
  ports:
    - port: 80
      targetPort: 5000
